.navbar {
  position: fixed;
  width: 96%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.2); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  backdrop-filter: blur(10px); 
}

.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 90px; 
  height: auto;
  margin-right: 0rem; 
}

.navbar-title {
  font-size: 3rem; 
  font-weight: bold;
  color: #472525;
  font-family: 'Great Vibes', cursive; 
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  transition: color 0.7s ease;
}

.navbar-links a:hover {
  color: #ffffff;
}

.navbar-dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000;
}

.dropdown-item:hover {
  background: #f0f0f0;
}
